html {
  margin: 25px;
  min-height: 100%;
  background-color: #e6ecff;
}

body {
  background-color: #e6ecff;
}

button {
  padding: 0;
  margin: 2px;
}

p {
  margin-bottom: 0;
  color: #e6ecff;
}

.gifsRating {
  margin-bottom: 4px;
  color: hsl(240, 3%, 6%);
  text-align: center;
}

.giphyArea {
  display: flex;
  flex-wrap: wrap;
  /*display: grid;
  grid-auto-flow: dense;*/
  align-items: stretch;
  justify-content: space-around;
  padding: 50px;
  margin-top: 50px;
  margin-left: 45px;
}

img > p {
  margin-bottom: 4px;
  color: hsl(240, 3%, 6%);
}

h1 {
  margin-top: -30px;
}

.jumbotron {
  background-color: #29a745;
  color: #e6ecff;
  height: 5vw;
}

.userGiphy {
  margin-left: 10px;
}

#topics-input {
  margin-top: 4px;
}

.btn-topics-input {
  margin-top: 8px;
}

img {
  margin: 10px;
}
